@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #363636;

}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    align-items: center;
    text-align: center;
}

.contentBox {
    align-items: center;
    height: 500px;
    margin: 0px auto;

}

.logo {
    width: 200px;
}

.mb {
    margin-bottom: 0.8em;
}
